
.allcontent {
    padding: 15px;
    border: 1px solid rgb(104, 101, 101);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.container {
    margin: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container > * {
    margin: auto;
    margin-bottom: 3px;
    font-size: 0px;
  }

.item > pre {
    font-size: 0;
}
  
input[type="radio"] {
    display: none;
}


label {
    cursor: pointer;
    padding: 10px 20px;;
}

.kkal {
    display: none;
}

img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

@media (max-width: 1199px) {
    #tistechko:checked ~ .container .item:not(.tistechko) {
        display: none;
    }
    
    #tort:checked ~ .container .item:not(.tort) {
        display: none;
    }
    
    #pirog:checked ~ .container .item:not(.pirog) {
        display: none;
    }
    
    #rulet:checked ~ .container .item:not(.rulet) {
        display: none;
    }
    
    #surnik:checked ~ .container .item:not(.surnik) {
        display: none;
    }
}



.filter {
    width: 100%;
    height: auto;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
}

.filter > *:not(.kkal) {
    background-color: rgb(211, 210, 210);
    border-radius: 5px;
}

.footer {
    margin-left: 10px;
    font-size: small;
}

@media (min-width: 730px) {
    .filter {
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.2em;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .item {
        font-size: 16px;
        padding: 5px 10px 0 10px;
        border: 1px solid gray;
        border-radius: 10px;
        background-color: rgb(237, 236, 236);
    }

    .item:hover {
        box-shadow: 2px 2px 5px grey;
    }
}

@media (min-width: 1200px) {
    .allcontent {
        display: grid;
        grid-template-columns: 3fr 1fr;

    }

    .filter {
        grid-template-columns: repeat(1, 0.9fr);
        grid-template-rows: repeat(auto-fill, 50px);
        order: 2;
    }
    
    .footer {
        display: flex;
        justify-content: space-between;
        order: 3;
    }

    .kkal {
        
        display: inline-block;
    }

    .item {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 10px;
    }
    .item > p {
        margin-top: -5px;
    }
    .item > pre {
        font-size: 14px;
    }

    #tistechko:checked ~ .container .item:not(.tistechko) {
        background-color: transparent;
        border: 1px solid lightgray;
    }
    
    #tort:checked ~ .container .item:not(.tort) {
        background-color: transparent;
        border: 1px solid lightgray;
    }
    
    #pirog:checked ~ .container .item:not(.pirog) {
        background-color: transparent;
        border: 1px solid lightgray;
    }
    
    #rulet:checked ~ .container .item:not(.rulet) {
        background-color: transparent;
        border: 1px solid lightgray;
    }
    
    #surnik:checked ~ .container .item:not(.surnik) {
        background-color: transparent;
        border: 1px solid lightgray;
    }
}
